
/*
 * style.css-desktop
 * 
 * définition des styles généraux à la page
 * 
 * @autor JANSEN Manuel
 * @version 1.0
 * @date 2022-01
 */


/*
 * définition des polices de caractères
 */
 
 *,
 ::before,
 ::after {
    box-sizing: border-box;
}

/*
 * définition des polices de caractères
 */
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Shrikhand&display=swap');

header{
    background-color: #f6f6f6;
}

header > h1{
    font-family: 'Shrikhand', cursive;
    text-align: center;
    font-style: italic;
    background-color: white;
}

.bloc header > div {
background-color: #eaeaea;
}

.localisation > i {
    color: grey;
}

.bloc header > p{
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-style: italic;
}
.localisation{
    background-color: #eaeaea;
    font-family: "Roboto", sans-serif;
}

/* Réservation, Explorer */

.Réservez > button{
    font-family: "Roboto", sans-serif;
    background: linear-gradient(#e872da, #a65cdb);
    color: white;
    border: none;
}
/* Effet au survol du Button recherche */
.Réservez > button:hover{
    transform: scale(1.02);
    cursor: pointer;
}

.Réservez > h2{
    font-family: "Roboto", sans-serif;
}
.Réservez > p{
    font-family: "Roboto", sans-serif;
}